Add form here
<!-- <input name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>">		     <input name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>">

<form method="post" action="/notes">
<label for="entry[singer]">Title:</label>
<label for="entry[singer]">Singer name:</label>
<input name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>"> -->