<div id="show-highlighted-word">
	<table>
	<tr>
	<td class="deck-table-cell col-100"><%=@entry.pinyin%></td>
	<td class="deck-table-cell col-60"><%=@entry.part_of_speech%> </td>
	<td class="deck-table-cell col-150"><%=@entry.definition %></td>
	</tr>
	</table>
	<a class='hide-button' href='hide-form'>Hide</a>
</div>

