<tr>
	<td class='deck-table-cell col-1'></td>
	 <td class='deck-table-cell col-2'><%=entry.pinyin %></td>
	 <td class='deck-table-cell col-3' div id="highlight"><%=entry.character %></div></td>
	 <td class='deck-table-cell col-4'><%=entry.part_of_speech %></td>
	 <td class='deck-table-cell col-5' 'wide'><%=entry.definition %></td>
</tr>
